.mainInfo_wrapper {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mainInfo_block {
    margin: 0 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
}

.mainInfo_blockWithTemp {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.mainInfo_temp {
    display: flex;
    flex-direction: row;

    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 180px;

    text-align: center;
    color: #FFFFFF;
    flex-wrap: nowrap
}

.mainInfo_temp_degree {
    font-size: 50%;
}

.mainInfo_blockWithDescription {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}




/*Media
=================
 */

@media (max-width: 1400px) {
    .mainInfo_icon svg {
        width: 185px;
        height: 185px;
    }

}

@media (max-width: 1200px) {

    .mainInfo_icon svg {
        width: 160px;
        height: 160px;
    }

    .mainInfo_temp {
        font-size: 160px;
        font-family: Lato, sans-serif;
        font-weight: 400;
    }

    .mainInfo_blockWithDescription {
        font-size: 24px;
    }
}

@media (max-width: 1025px) {
    .mainInfo_wrapper {
        margin-top: 70px;
    }

    .mainInfo_icon svg {
        width: 140px;
        height: 140px;
    }

    .mainInfo_temp {
        font-size: 140px;
        font-family: Lato, sans-serif;
        font-weight: 400;
    }

    .mainInfo_blockWithDescription {
        font-size: 23px;
    }
}

@media (max-width: 769px) {
    .mainInfo_wrapper {
        margin-top: 70px;
    }

    .mainInfo_icon svg {
        width: 140px;
        height: 140px;
    }

    .mainInfo_temp {
        font-size: 120px;
        font-family: Lato, sans-serif;
        font-weight: 400;
    }

    .mainInfo_blockWithDescription {
        font-size: 22px;
    }
}

@media (max-width: 481px) {

    .mainInfo_wrapper {
        margin-top: 65px;
    }

    .mainInfo_icon svg {
        width: 120px;
        height: 120px;
    }

    .mainInfo_temp {
        font-size: 100px;
        font-family: Lato, sans-serif;
        font-weight: 300;
    }


    .mainInfo_blockWithDescription {
        font-size: 21px;
    }
}

@media (max-width: 378px) {

    .mainInfo_wrapper {
        margin-top: 76px;
    }

    .mainInfo_icon svg {
        width: 100px;
        height: 100px;
    }

    .mainInfo_temp {
        font-size: 90px;
        font-family: Lato, sans-serif;
        font-weight: 300;
    }

    .mainInfo_blockWithDescription {
        font-size: 18px;

    }
}


