html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: 'Lato', 'PT Sans', sans-serif;


}

#root {
  height: 100%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/latoregular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/latolight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}